html{
height:100%;
}
body{
background:linear-gradient(white,#F5FFFA);
color:black;
background repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:cover;
min-height:210%;
min-width:-10%;
display:flex;
flex-direction:column;
margin:0;
box-sizing:border-box;
}
#logo{
position:absolute;
top:-50px;
left:-1px;
image-shadow:0px 7px 2px grey;
}
#logophone{
position:absolute;
top:-20px;
left:-5px;
right:-80px;
visibility:collapse;
}
@keyframes appear{
from{
opacity:0;
scale:0.5;
}
to{
opacity:1;
scale:1;
}
}
@keyframes fade-left{
0%{
opacity:0;
transform:translateY(30px) scale(0.9);
}
100%{
opacity:1;
transform:translateY(0px) scale(1);
}
}
.container{
width:95vmin;
position:absolute;
transform:translate(-50%,-50%);
top:370px;
left:27%;
overflow:hidden;
border:10px white;
box-shadow:3px 3px 3px grey;
}
.wrapper{
width:100%;
display:flex;
animation: slide 14s infinite;
}
@keyframes slide{
0%{
transorm:translateX(0);
}
25%{
transform:translateX(0);
}
30%{
transform:translateX(-100%);
}
55%{
transform:translateX(-100%);
}
70%{
transform:translateX(-200%);
}
100%{
transform:translateX(-200%);
}
}
img{
width:100%;
}
#mains{
position:absolute;
top:660px;
left:30%;
animation:appear linear;
animation-timeline:view();
animation-range:entry 0% cover 40%;
}
#mainshead{
position:absolute;
top:600px;
left:35%;
animation:appear linear;
animation-timeline:view();
animation-range:entry 0% cover 50%;
}

#Aboutushead{
font-family:Georgia;
color:#504423;
position:absolute;
top:210px;
left:65%;
animation:fade-left 0.5s;
}
#AboutUs{
font-family:MS Serif;
position:absolute;
top:290px;
left:58%;
animation:fade-left 0.5s;
}
.Whatsappbutton{
display:inline-flex;
height:35px;
width:130px;
padding:5px;
background:#333B45;
border:none;
outline:none;
border-radius:10px;
overflow:hidden;
font-family:Georgia;
font-size:17px;
color:white;
position:absolute;
top:63px;
left:36%;
cursor:pointer;
}
.Whatsappbutton:hover{
background:#000000;
}
.Whatsappbutton:active{
background:#23600B;
}
.Whatsappbutton__icon{
display:inline-flex;
align-items:center;
height:100%;
}
.Donatebutton{
display:inline-flex;
height:35px;
width:130px;
padding:5px;
background:#000000;
border:none;
outline:none;
border-radius:10px;
overflow:hidden;
font-family:Georgia;
font-size:17px;
color:white;
cursor:pointer;
}
.Donatebutton:hover{
background:#333B45;
}
.Donatebutton:active{
background:#23600B;
}
.Donatebutton__icon{
display:inline-flex;
align-items:center;
height:100%;
}
.instagram{
display:inline-flex;
height:25px;
width:25px;
padding:5px;
background:black;
border:none;
outline:none;
border-radius:50%;
overflow:hidden;
font-family:Georgia;
color:white;
position:absolute;
top:58px;
left:49%;
cursor:pointer;
}
.instagram:hover{
background:grey;
}
.instagram:active{
background:maroon;
}
.instagram__icon{
display:inline-flex;
align-items:center;
height:100%;
}
#dogside{
background-color:#615D5D;
color:#F5F2E8;
border:7px;
width:33%;
padding-bottom:2%;
box-shadow:2px 5px 3px grey;
align-items:center;
position:absolute;
top:880px;
left:53%;
border-radius:10px;
animation:fade-left 1s;
}
#dog{
position:absolute;
top:800px;
left:5%;
animation:appear linear;
animation-timeline:view();
animation-range:entry 0% cover 40%;
}
#cat{
position:absolute;
top:870px;
left:27%;
animation:appear linear;
animation-timeline:view();
animation-range:entry 0% cover 40%;
}
#dogsidehead{
background-color:#615D5D;
color:black;
border:7px;
box-shadow:2px 5px 3px grey;
border-radius:10px;
width:33%;
padding-bottom:2%;
position:absolute;
top:820px;
left:53%;
animation:fade-left;
animation-timeline:view();
animation-range:entry 0% cover 30%;
}
#NavBar{
position:absolute;
top:80px;
right:10%;
}
#NavBar a{
font-size:20px;
color:#504423;
text-decoration:none;
}
#NavBar a:hover{
color:black;
}
footer{
margin-top:auto;
background-color:black;
color:white;
padding-top:0px;
padding-bottom:40px;
position:absolute;
top:200%;
right:0%;
left:0%;
}
@media only screen and (max-width:700px)
{
#logo{
position:absolute;
top:-20px;
left:-5px;
right:-80px;
visibility:collapse;
}
#logophone{
position:absolute;
top:-2px;
left:0px;
right:0px;
visibility:visible;
}
.container{
width:92vmin;
position:absolute;
transform:translate(-50%,-50%);
top:90px;
left:2%;
overflow:hidden;
border:10px white;
box-shadow:3px 3px 3px grey;
}
body{
background:linear-gradient(white,#F5FFFA);
color:black;
background repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:cover;
min-height:240%;
display:flex;
flex-direction:column;
margin:0;
box-sizing:border-box;
}
.container{
width:95vmin;
position:absolute;
transform:translate(-50%,-50%);
top:280px;
left:50.5%;
overflow:hidden;
border:10px white;
box-shadow:3px 3px 3px grey;
}
#Aboutushead{
font-family:Georgia;
color:#504423;
position:absolute;
top:450px;
left:33%;
animation:fade-left 0.5s;
}
#AboutUs{
font-family:MS Serif;
position:absolute;
top:520px;
left:7%;
animation:fade-left 0.5s;
}
#mainshead{
position:absolute;
top:1220px;
left:15%;
font-size:13px;
animation:appear linear;
animation-timeline:view();
animation-range:entry 0% cover 50%;
}
#mains{
position:absolute;
top:1260px;
left:1%;
font-size:15px;
animation:appear linear;
animation-timeline:view();
animation-range:entry 0% cover 40%;
}
.Whatsappbutton{
display:inline-flex;
height:35px;
width:130px;
padding:5px;
background:#333B45;
border:none;
outline:none;
border-radius:10px;
overflow:hidden;
font-family:Georgia;
font-size:16px;
color:white;
position:absolute;
top:75px;
left:35%;
cursor:pointer;
}
.instagram{
display:inline-flex;
height:25px;
width:25px;
padding:5px;
background:black;
border:none;
outline:none;
border-radius:50%;
overflow:hidden;
font-family:Georgia;
color:white;
position:absolute;
top:55px;
left:48%;
cursor:pointer;
}
#dog{
position:absolute;
top:830px;
left:-13%;
animation:appear linear;
animation-timeline:view();
animation-range:entry 0% cover 40%;
visibility:collapse;
}
#cat{
position:absolute;
top:1000px;
left:-10%;
transform:scalex(-1);
visibility:collapse;
}
#dogsidehead{
background-color:#615D5D;
color:black;
border:7px;
box-shadow:2px 5px 3px grey;
width:54%;
padding-bottom:2%;
padding-left:13%;
padding-right:12%;
position:absolute;
top:840px;
left:10%;
animation:fade-left;
animation-timeline:view();
animation-range:entry 0% cover 30%;
}
#dogside{
background-color:#615D5D;
color:#F5F2E8;
border:7px;
width:33%;
padding-bottom:2%;
padding-left:23%;
padding-right:23%;
border-radius:10px;
font-size:15px;
box-shadow:2px 5px 3px grey;
align-items:center;
position:absolute;
top:900px;
left:10%;
border-radius:10px;
animation:fade-left;
animation-timeline:view();
animation-range:entry 0% cover 30%;
}
#NavBar{
position:absolute;
top:80px;
left:16%;
}
footer{
margin-top:auto;
background-color:black;
color:grey;
padding-top:0px;
padding-bottom:40px;
position:absolute;
top:240%;
right:0%;
left:0%;
}
}

